---
import BaseLayout from '@layouts/BaseLayout.astro';
import Icon from '@components/Icon.astro';
---

<BaseLayout>
  <div class="pt-52 flex flex-col justify-center items-center">
    <Icon icon="not-found" color="var(--accent-regular)" size="10em" />
    <span class="text-4xl">Page Not Found</span>
  </div>
</BaseLayout>