---
---
<div class="overflow-hidden">
  <div class="hero truncate">The best time to plant a tree is 20 years ago, The second best time is now. - African Proverb</div>
</div>

<style>
  .hero {
    animation: scroll-left 10s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>