---
---
<div class="hero w-full h-40 md:h-80 bg-cover bg-center flex flex-col justify-center items-center rounded">
  <div class="w-4/5 mt-10 text-end">The best time to plant a tree is 20 years ago</div>
  <div class="w-4/5 text-end">The second best time is now</div>
  <div class="w-4/5 text-end">- African Proverb</div>
</div>

<style>
  .hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), 
                    url('../assets/image/common/hero-bg2.png');
  }
</style>